<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <header class="page-header">
    <h1 class="page-title"><a href="/">{{ site.title }}</a></h1>
    <nav class="page-nav">
      {% for site-page in site.pages %}
        {% if site-page.show-in-navbar %}

          <a class="page-nav-link{% if page.url == site-page.url %} page-nav-link-active{% endif %}" href="{{ site-page.url }}">{{site-page.title}}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </header>
  <main class="page-content">
    {{ content }}
  </main>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send',
'pageview')
</script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
