<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <header class="page-header">
    <h1 class="page-title"><a href="/">{{ site.title }}</a></h1>
    <nav class="page-nav">
      {% for navbar-page in site.navbar %}
        <a
          class="page-nav-link{% if page.url == navbar-page.url %} page-nav-link-active{% endif %}"
          href="{{ navbar-page.url }}"
        >
          {{ navbar-page.name }}
        </a>

      {% endfor %}
    </nav>
  </header>
  <main class="page-content">
    {{ content }}
  </main>
  {% if site.google-analytics-id %}
  <script>
window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', '{{ site.google-analytics-id }}', 'auto');
ga('set','transport','beacon'); ga('send', 'pageview')
</script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  {% endif %}
</body>

</html>
